body {
    background-color: #000;
}
 
.binary-clock {
    #width: 820px;
    height: 270px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -410px;
    margin-top: -135px;
}

.dot {
    border-radius: 28px / 100px;
    width: 28px;
    height: 100px;
    display: inline-block;
    margin: 22px 44px; ;
    background-color: #FFF;
    #box-shadow: inset -3px -3px 10px rgba(0,0,0,0.15), inset 0 0 3px rgba(0,0,0,0.5);

    transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    -moz-transition: all .4s ease-out;
    -webkit-transition: all .4s ease-out;

}

.dot.full {
    border-radius: 82px / 100px;
    width: 82px;
    height: 100px;
    display: inline-block;
    margin: 22px 17px; ;
}
